In [1]:
a=1
b=4
print("a+b")
# a+b가 괄호안에 있으면..
# 문자열표현, 큰따옴표, 작은따옴표

a+b

수학에서는 변수가 '변할 수 있는 수', 프로그래밍에서는 '어떠한 값을 저장하는 장소.

메모리: 변수를 저장하는 물리적 장소
메모리 주소: 변수의 저장 위치

In [2]:
a=3
b=5
print(id(a))
# 물리적인 메모리 위치 (메모리 주소)

140482792167792

byte=8bit
kb=1024byte
mb=1024kb

In [6]:
print(0b11)
print(0b11111111)
# 2진수 변환법 0b

3
255

In [16]:
a=3
b=4.0
c="김선우"
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

동적 타이핑: 인터프리터가 알아서 형태를 판단하여 동적으로 메모리 공간 할당.

In [19]:
num_1=5
num_2=1

print(num_1/num_2)  #나누기 연산자는 실수형으로 반환
print(num_1//num_2) #몫 연산자는 정수형으로 반환
# 실수형이 하나라도 있으면 결과가 실수형으로 나온다.

5.0
5

In [27]:
print(int(10.7)) #int()를 사용하면 소수점 이하 내림
print(float(10))
print(str(10))
print(int('10'))
print(int('10'))
# print(int('10.4')) 먼저 문자형을 float으로 변환시킨 다음, 정수형으로 형변환 해야함.

10
10.0
10
10
10

서로 다른 자료형 끼리의 계산은 불가능.

하지만 문자형*숫자 계산은 반복 연산자로 처리 되어 계산됨.

03 내장함수(input)

In [32]:
# 온도변환 프로그램

supsi=float(input('섭씨온도를 입력하세요:'))
whasi=(supsi*1.8)+32

print("섭씨온도:",supsi)
print("화씨온도:",whasi)

섭씨온도를 입력하세요:36.2
섭씨온도: 36.2
화씨온도: 97.16000000000001

리스트

In [50]:
cities=['서울','인천','대구','부산','전남','경북','포항','울산']
cities[0:6] #0이상 6미만
cities[0:6:2] #0이상 6미만 2간격으로 (step)

['서울', '대구', '전남']

In [56]:
cities=['서울','인천','대구','부산','전남','경북','포항','울산']
cities[::] #전체를 다 출력
cities[::-3] #역순으로

['포항', '울산']

리스트끼리는 덧셈 연산이 가능하다.

In [76]:
color1=['blue','grey','tomato']
color2=['green','black','teal']

color1.append('coral')
color1.extend(color2)
color1.insert(1,'tan')
color1.remove('teal')
color1.pop()

print(color1)

['blue', 'tan', 'grey', 'tomato', 'coral', 'green', 'black']

In [83]:
t = [1,2,3] #1,2,3을 변수 t에 패킹
a, b,c = t #t에 있는 값을 언패킹
print(t,a,b,c)


# 언패킹할때 할당 받는 변수의 개수가 다르면 에러!

[1, 2, 3] 1 2 3